.aotcampusexchangecom-20237 {
  position: absolute;
  top: 826.4px;
  left: calc(50% - 211.2px);
}

.inbox8 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
}

.aanya-sharma-eee4,
.order-placed-your2 {
  position: absolute;
  top: 28px;
  left: 0;
}

.aanya-sharma-eee4 {
  top: 0;
  color: var(--color-black);
}

.dots-icon2 {
  position: absolute;
  top: 40px;
  left: 456px;
  width: 9.6px;
  height: 4px;
}

.order-placed-your-soul-is-a-r-container {
  position: relative;
  background-color: var(--color-white);
  width: 476px;
  height: 52px;
  cursor: pointer;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-gray-100);
  font-family: var(--font-poppins);
}

.dot-icon2 {
  position: absolute;
  top: 40px;
  left: 456px;
  width: 4px;
  height: 4px;
}

.order-placed-binder-clips-mu-group {
  position: relative;
  width: 460px;
  height: 52px;
}

.frame-wrapper5,
.order-placed-push-pins-tacks-group {
  background-color: var(--color-white);
  width: 476px;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-gray-100);
  font-family: var(--font-poppins);
}

.frame-wrapper5 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.order-placed-push-pins-tacks-group {
  position: relative;
  height: 52px;
}

.frame-parent18 {
  margin: 0;
  width: 565.6px;
  height: 239.2px;
  overflow-y: auto;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  padding: var(--padding-xl) 89.5999984741211px 16.80000114440918px 0;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-end;
  gap: var(--gap-4xl-2);
}

.frame-child15 {
  position: relative;
  width: 565.6px;
  height: 125.6px;
  overflow: hidden;
  flex-shrink: 0;
}


.inbox-group {
  height: 546.4px;
  overflow-y: auto;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--font-size-6xl-6);
  color: var(--color-black);
  font-family: var(--font-poppins);
}

.chat {
  justify-content: baseline;
  float: left;
}

.background1,
.inbox-page-inner {
  position: absolute;
  top: 212.8px;
  left: 25.6px;
  width: 1484.8px;
}

.inbox-page-inner {
  background: linear-gradient(180deg, #c1d9e8, rgba(255, 255, 255, 0));
  height: 569.6px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 0 36.79999923706055px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-end;
}

.background1 {
  background: linear-gradient(180deg,
      #c1d9e8,
      #c1d9e8,
      rgba(223, 232, 238, 0.93) 31.25%,
      rgba(255, 255, 255, 0));
  box-shadow: 0 3.200000047683716px 3.2px rgba(0, 0, 0, 0.25);
  height: 645.6px;
  display: none;
}

.campus-exchange7,
.home7,
.inbox9 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
}

.home7,
.inbox9 {
  font-weight: 600;
}

.home7 {
  cursor: pointer;
}

.inbox9 {
  color: var(--color-lightsteelblue-100);
}

.campus-exchange-parent4,
.home-parent4 {
  display: flex;
  align-items: center;
  text-align: left;
  color: var(--color-white);
}

.home-parent4 {
  margin: 0;
  width: 1131.2px;
  height: 48px;
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-61xl);
  font-size: var(--font-size-13xl);
  font-family: var(--font-poppins);
}

.campus-exchange-parent4 {
  position: absolute;
  top: 0;
  left: -1.6px;
  background-color: var(--color-darkslategray-100);
  width: 1537.6px;
  height: 160.8px;
  flex-direction: column;
  padding: 0 203.1999969482422px;
  box-sizing: border-box;
  justify-content: center;
  gap: var(--gap-13xl-8);
  font-size: var(--font-size-22xl-6);
  font-family: var(--font-amaranth);
}

.inbox-page1 {
  position: relative;
  background-color: var(--color-whitesmoke-100);
  width: 100%;
  height: 864px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-5xl-8);
  color: var(--color-black);
  font-family: var(--font-poppins);
}

.chatsection_image {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.chatsection_image img {
  height: 500px;
  width: 650px;
  padding-left: 500px;
  padding-top: 900px;

}