@keyframes slide-in-top {
  0% {
    transform: translateY(-200px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.aotcampusexchangecom-20234 {
  position: absolute;
  bottom: -0.3px;
  left: 556.8px;
}
.campus-exchange4,
.home4,
.sell4 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
}
.home4,
.sell4 {
  font-weight: 600;
  cursor: pointer;
}
.sell4 {
  color: var(--color-lightsteelblue-100);
}
.campus-exchange-parent1,
.home-parent1 {
  display: flex;
  align-items: center;
  text-align: left;
  color: var(--color-white);
}
.home-parent1 {
  margin: 0;
  width: 1131.2px;
  height: 48px;
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-61xl);
  font-size: var(--font-size-13xl);
  font-family: var(--font-poppins);
}
.campus-exchange-parent1 {
  position: absolute;
  top: 0;
  left: -1.6px;
  background-color: var(--color-darkslategray-100);
  width: 1537.6px;
  height: 160.8px;
  flex-direction: column;
  padding: 0 203.1999969482422px;
  box-sizing: border-box;
  justify-content: center;
  gap: var(--gap-13xl-8);
  font-size: var(--font-size-22xl-6);
  font-family: var(--font-amaranth);
}
.rectangle-icon {
  position: relative;
  width: 291.2px;
  height: 291.2px;
  object-fit: cover;
}
.upload-images {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
}
.ellipse-input {
  cursor: pointer;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-gainsboro-200);
  width: 38.4px;
  height: 38.4px;
}
.ellipse-container,
.ellipse-group,
.ellipse-parent,
.frame-parent11 {
  width: 102.4px;
  height: 38.4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-mid-6);
}
.ellipse-container,
.ellipse-group,
.frame-parent11 {
  width: 115.2px;
}
.ellipse-container,
.frame-parent11 {
  width: 151.2px;
}
.frame-parent11 {
  margin: 0;
  height: 148.8px;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-base-8);
}
.pay-and-upload {
  position: relative;
  font-size: var(--font-size-xl-8);
  font-weight: 500;
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: left;
  opacity: 0.8;
}
.pay-and-upload-wrapper,
.rectangle-parent1 {
  width: 291.2px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.pay-and-upload-wrapper {
  cursor: pointer;
  border: 0;
  padding: 15.199999809265137px 0;
  background-color: var(--color-lightsteelblue-200);
  border-radius: var(--br-30xl-6);
  box-shadow: 0 3.200000047683716px 8px rgba(0, 0, 0, 0.15);
  height: 62.4px;
  box-sizing: border-box;
  align-items: center;
}
.rectangle-parent1 {
  height: 978.4px;
  align-items: flex-start;
  gap: var(--gap-15xl-4);
  text-align: left;
  font-size: var(--font-size-6xl-6);
  color: var(--color-black);
  font-family: var(--font-poppins);
}
.frame-input,
.frame-textarea {
  border: 0;
  background-color: var(--color-white);
  position: relative;
  width: 1044px;
  height: 107.2px;
  overflow: hidden;
  flex-shrink: 0;
}
.frame-input {
  width: 256.8px;
  height: 52px;
}
.frame-child6 {
  position: absolute;
  top: -4.8px;
  left: -8px;
  width: 412px;
  height: 68px;
}
.select-category1 {
  position: absolute;
  top: 10.4px;
  left: 32.8px;
  font-weight: 300;
  opacity: 0.6;
}
.group-icon {
  position: absolute;
  top: 0;
  left: 344px;
  width: 52px;
  height: 52px;
}
.vector-group {
  position: relative;
  width: 396px;
  height: 52px;
  font-size: var(--font-size-xl-8);
}
.frame-child7 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  border-bottom: 0.8px solid var(--color-gray-300);
  box-sizing: border-box;
  width: 396px;
  height: 52px;
}
.frame-parent12,
.rectangle-parent2 {
  border: 0.8px solid var(--color-gray-300);
  box-sizing: border-box;
}
.rectangle-parent2 {
  position: relative;
  background: linear-gradient(#fff, #fff), linear-gradient(#fff, #fff), #fff;
  width: 396px;
  height: 52px;
}
.frame-parent12 {
  background-color: var(--color-gray-100);
  box-shadow: 0 3.200000047683716px 8px rgba(0, 0, 0, 0.15);
  width: 100%;
  height: 155.2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  opacity: 0;
  max-height: 90%;
  overflow: auto;
  font-size: var(--font-size-xl-8);
}
.frame-parent12.animate {
  animation: 0.25s ease 0s 1 normal forwards slide-in-top;
}
.frame-child10 {
  border: 0;
  background-color: var(--color-white);
  position: relative;
  width: 1044px;
  height: 176.8px;
  overflow: hidden;
  flex-shrink: 0;
}
.product-name-parent {
  width: 1044px;
  height: 968.8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-smi-8);
  text-align: left;
  font-size: var(--font-size-6xl-6);
  color: var(--color-black);
  font-family: var(--font-poppins);
}
.frame-parent10,
.sell-page-inner {
  position: absolute;
  left: calc(50% - 742.4px);
  width: 1484.8px;
  overflow-y: auto;
}
.frame-parent10 {
  top: 0;
  background: linear-gradient(180deg, #c1d9e8, rgba(255, 255, 255, 0));
  height: 1052px;
  display: flex;
  flex-direction: row;
  padding: 32.79999923706055px 31.200000762939453px;
  box-sizing: border-box;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-51xl-4);
}
.sell-page-inner {
  top: 168px;
  background-color: var(--color-darkslategray-200);
  height: 651.2px;
}
.sell-page {
  position: relative;
  background-color: var(--color-whitesmoke-100);
  width: 100%;
  height: 864px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-5xl-8);
  color: var(--color-black);
  font-family: var(--font-poppins);
}
